body{
    background: #a8dadc;
    color: #1d3557;
    font-size: 14px;
}


.title{
    text-align: center;
    align-items: center;
}

.btn{
    background-color: aliceblue;
    color: #1d3557;
    border: 2px solid #1d3557;
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
}

.main{
    text-align: center;
    margin: 13%;
    word-break: break-all;
}

input{
    border: 2px solid #1d3557;
    padding: 10px;
    border-radius: 30px;
    margin: 1rem auto;
    display: block;
    
}

.button{
    border-radius: 30px;
    background-color: #1d3557;
    color: aliceblue;
    border: none;
    padding: 0.5rem 1rem;
    margin: 15px;
}

.result{
    border: 2px solid #1d3557;
    padding: 1rem;

}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li{
    padding: 7px;
    font-weight: bold;

}


.footer{
    text-align: center;
}

a{
    color: #1d3557;
    text-decoration: none;
}

